version: "3.9"

services:
  backend:
    build: .
    ports:
      - "1985:1985"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - redis
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "1985", "--reload"]

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

