# Web Framework
fastapi>=0.109.0
uvicorn[standard]>=0.27.0
pydantic>=2.6.0
pydantic-settings>=2.1.0

# AI & Data Processing
openai>=1.12.0
gliner>=0.1.6
# CPU-Version von Torch sparen Speicherplatz (via Index-URL)
--extra-index-url https://download.pytorch.org/whl/cpu
torch

# Database & Utils
redis>=5.0.1
python-dotenv>=1.0.1
requests>=2.31.0
httpx>=0.26.0

